@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
$font: 'Josefin Sans', sans-serif;
.contenedor{
    background: linear-gradient(to bottom, #f5b062d8, #5ec79c);
    .centro{
        font-family: $font;
        background-color: #fff;
        box-shadow: 0px 0px 20px 6px #000000;
        header{
            h1{
                color: #5ec79c;
                text-shadow: 3px 3px 6px #5ec79c;
            }
        }
        .EP,
        .MP,
        .TEO,
        .EA,
        .TF,
        .foda{
            h1{
                color: #f5b062d8;
                text-shadow: 3px 3px 6px #f5b062d8;
            }
        }
        .foda{
            p{
                font-size: 20px;
                font-weight: 600;
            }
            .tfc:first-of-type{
                padding: 0px;
                padding-top: 15px;   
            }
            .tfc:last-of-type{
                padding: 0px;
                padding-bottom: 15px;   
            }
            div{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                div{
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;
                    gap: 0px;
                    padding: 0;
                    h1{
                        font-size: 15px;
                        color: #f57862d8;
                    }
                    p{
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}