@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
.contenedor {
  background: linear-gradient(to bottom, #f5b062d8, #5ec79c); }
  .contenedor .centro {
    font-family: "Josefin Sans", sans-serif;
    background-color: #fff;
    box-shadow: 0px 0px 20px 6px #000000; }
    .contenedor .centro header h1 {
      color: #5ec79c;
      text-shadow: 3px 3px 6px #5ec79c; }
    .contenedor .centro .EP h1,
    .contenedor .centro .MP h1,
    .contenedor .centro .TEO h1,
    .contenedor .centro .EA h1,
    .contenedor .centro .TF h1,
    .contenedor .centro .foda h1 {
      color: #f5b062d8;
      text-shadow: 3px 3px 6px #f5b062d8; }
    .contenedor .centro .TF p,
    .contenedor .centro .foda p {
      font-size: 20px;
      font-weight: 600; }
    .contenedor .centro .TF .tfc:first-of-type,
    .contenedor .centro .foda .tfc:first-of-type {
      padding: 0px;
      padding-top: 15px; }
    .contenedor .centro .TF .tfc:last-of-type,
    .contenedor .centro .foda .tfc:last-of-type {
      padding: 0px;
      padding-bottom: 15px; }
    .contenedor .centro .TF div,
    .contenedor .centro .foda div {
      display: grid;
      grid-template-columns: repeat(2, 1fr); }
      .contenedor .centro .TF div div,
      .contenedor .centro .foda div div {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: 0px;
        padding: 0; }
        .contenedor .centro .TF div div h1,
        .contenedor .centro .foda div div h1 {
          font-size: 15px;
          color: #f57862d8; }
        .contenedor .centro .TF div div p,
        .contenedor .centro .foda div div p {
          font-size: 15px;
          font-weight: 400; }
    .contenedor .centro .EA h1 {
      color: linear-gradient(to bottom, #f5b062d8, #5ec79c); }
    .contenedor .centro .EA .flex-EA {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row; }
      .contenedor .centro .EA .flex-EA .flex {
        padding: 0px;
        width: 500px;
        text-align: center; }
        .contenedor .centro .EA .flex-EA .flex h1 {
          text-align: initial;
          font-size: 25px;
          color: #f57862d8;
          text-shadow: 3px 3px 6px #f57862d8; }
        .contenedor .centro .EA .flex-EA .flex .klob {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 20px; }
        .contenedor .centro .EA .flex-EA .flex .EA-G {
          display: flex; }
          .contenedor .centro .EA .flex-EA .flex .EA-G .tfc {
            display: flex;
            flex-direction: column;
            gap: 0px; }
            .contenedor .centro .EA .flex-EA .flex .EA-G .tfc div {
              padding: 0px;
              display: flex;
              flex-direction: column;
              text-align: center;
              gap: 5px;
              align-items: center; }
              .contenedor .centro .EA .flex-EA .flex .EA-G .tfc div h1 {
                text-shadow: none;
                padding: 10px 0px;
                font-size: 15px;
                color: #f062f5d8; }
              .contenedor .centro .EA .flex-EA .flex .EA-G .tfc div p {
                font-size: 15px;
                font-weight: 400; }

/*# sourceMappingURL=estilos.css.map */
